.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background: var(--mainblack);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 2000; /* Ensure dropdown menu is above other elements */
  opacity: 0;
  transition: opacity 0.3s ease;
}

.dropdown-menu.show {
  display: block;
  opacity: 1;
}

.dropdown-menu.hide {
  display: none;
}

.dropdown-menu a {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  color: var(--textcolor);
}

.dropdown-menu a:hover {
  background-color: var(--secondarycolor);
}

.dropdown-menu a:focus {
  outline: 2px solid var(--secondarycolor);
}
