:root {
  --maincolor: #265451;
  --textcolor: white;
  --secondarycolor: #b7b9ad;
  --mainblack: rgb(0, 0, 0);
}

.logo-name {
  font-family: "Jura", sans-serif;
  color: var(--textcolor);
  text-decoration: none;
  display: flex;
  align-items: center;
  height: 100%;
  text-align: center;
}

.header {
  display: flex;
  position: sticky;
  top: 0;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0 2rem;
  background-color: var(--mainblack);
  color: var(--textcolor);
  transition: background-color 1s ease;
  overflow: hidden;
  z-index: 1000; /* Ensure header has a lower z-index than the dropdown */
}

.logo-container {
  flex: 1;
  display: flex;
  justify-content: flex-start;
}

nav {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav a {
  color: var(--textcolor);
  margin: 0 1rem;
  text-decoration: none;
}

nav a:hover {
  color: var(--secondarycolor);
}

.right-section {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  z-index: 1000; /* Ensure right section has a lower z-index than the dropdown */
}

.auth-button {
  margin-left: 10px;
  color: var(--textcolor);
  background: transparent;
  border: 1px solid var(--textcolor);
  border-radius: 3px;
  padding: 5px 10px;
  cursor: pointer;
  text-decoration: none;
}

.auth-button:hover {
  background-color: var(--secondarycolor);
  border-color: var(--secondarycolor);
}

.search-bar {
  padding: 5px;
  border: none;
  border-radius: 3px;
}

.nav-btn {
  visibility: hidden;
  opacity: 0;
  border: none;
  cursor: pointer;
  outline: none;
  background: transparent;
  color: var(--textcolor);
  padding: 5px;
  z-index: 1000; /* Ensure nav button has a lower z-index than the dropdown */
}

.profile-container {
  position: relative;
  z-index: 1500; /* Ensure profile container has a lower z-index than the dropdown */
}

.profile-icon {
  font-size: 1.5em;
  cursor: pointer;
  margin-left: 10px;
}

.dropdown-menu {
  position: absolute;
  top: 2.5em;
  right: 0;
  background-color: var(--mainblack);
  color: var(--textcolor);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  overflow: hidden;
  z-index: 2000; /* Increase z-index to ensure it appears above other elements */
}

.dropdown-menu a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: var(--textcolor);
  cursor: pointer;
}

.dropdown-menu a:hover {
  background-color: var(--secondarycolor);
  color: var(--mainblack);
}

@media only screen and (max-width: 1024px) {
  .nav-btn {
    visibility: visible;
    opacity: 1;
  }

  nav {
    position: fixed;
    top: 0; 
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    background-color: var(--mainblack);
    color: var(--textcolor);
    transition: transform 0.3s ease;
  }

  nav.nav-open {
    transform: translateY(0);
  }

  nav.nav-close {
    transform: translateY(-100%);
  }
}
