.book {
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

#book_header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-left: 20px;
}

#books_des {
  flex-direction: column;
  margin-top: 20px;
}

.book-stats {
  margin-top: 8px;
  font-size: 0.875rem;
  color: #555;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center-align items */
}

.book-stats span {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.book-stats svg {
  margin-right: 5px;
}

#book_p {
  margin: 10px 0;
  line-height: 1.5;
}

#book_h1 {
  padding-right: 800px;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.search-container input {
  padding: 10px;
  font-size: 16px;
  margin-right: 10px;
  width: 300px;
  border: 1px solid #ccc;
}

.search-container button {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  cursor: pointer;
  background-color: black;
  color: white;
  border-radius: 4px;
  font-size: 16px;
}

.search-container button:hover {
  background-color: white;
  color: black;
  border-style: double;
}

.book-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* 3 books per row */
  gap: 20px;
  justify-content: center;
  margin-top: 40px;
}

.book-card {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  height: 400px;
  padding: 20px;
  text-align: center; /* Center text within the card */
}

.book-cover {
  width: 100%;
  height: 200px;
  border-radius: 4px;
  object-fit: cover;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-content {
  background: black;
  color: white;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  max-width: 700px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.modal-content img {
  width: 100%;
  height: auto;
  object-fit: contain;
  max-height: 300px;
  margin: 0 auto;
  border-radius: 5px;
}

.modal-close {
  position: absolute;
  top: 0px;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
  color: white;
  background-color: transparent;
  border: none;
}

.modal-details {
  text-align: center;
  margin-top: 20px; /* Add margin to separate from the image */
}

.read-button {
  color: white;
  text-decoration: none;
}
