.book {
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
  max-width: 1200px; /* Adjust width as needed */
  margin: 0 auto;
}

#book_header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-left: 20px;
}

#books_des {
  flex-direction: column;
  margin-top: 20px;
}
.book-stats {
  margin-top: 8px; /* Adjust margin for larger cards */
  font-size: 0.875rem; /* Slightly larger font size */
  color: #555;
  display: flex;      /* Use flexbox layout */
  flex-direction: row;
  justify-content: space-around; /* Arrange items in a column */
}

.book-stats span {
  display: flex;
  align-items: center;
  margin-bottom: 10px; /* Space between stats items */
}

.book-stats svg {
  margin-right: 5px; /* Space between the icon and the number */
}
#book_p {
  margin: 10px 0;
  line-height: 1.5;
}

#book_h1 {
  padding-right: 800px;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.search-container input {
  padding: 10px;
  font-size: 16px;
  margin-right: 10px;
  width: 300px;
  border: 1px solid #ccc;
}

.search-container button {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  cursor: pointer;
  background-color: black;
  color: white;
  border-radius: 4px;
  font-size: 16px;
}

.search-container button:hover {
  background-color: white;
  color: black;
  border-style: double;
}

.book-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* 3 books per row */
  gap: 20px; /* Adjust spacing between cards */
  justify-content: center;
  margin-top: 40px;
}

.book-card {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  height: 400px; /* Adjust height as needed */
  padding: 20px;
}

.book-cover {
  width: 100%;
  height: 200px;
  border-radius: 4px;
  object-fit: cover;
}

.book-stats {
  margin-top: 8px;
  font-size: 0.875rem;
  color: #555;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-content {
  background: black;
  color: white;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  max-width: 700px; /* Ensure the modal is still wide enough */
  margin: auto;
}

.modal-content img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: contain; /* Ensure the image fits within its container */
  max-height: 300px; /* Reduce the max height for the image */
  margin: 0 auto; /* Center the image */
  margin-top: 50px;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
  color: white;
  background-color: black;
  border: none;
}


.read{
  color: white;
  text-decoration: none;
}