.btn-twitter {
    color: #fff;
    background-color: #1da1f2;
    border-color: #1da1f2;
  }
  
  .text-google {
    color: #ea4335;
  }
  
  .text-facebook {
    color: #3b5998;
  }
  
  .text-instagram {
    color: #e4405f;
  }
  
  .ion-logo-google {
    font-size: 1.5rem;
    vertical-align: middle;
  }
  
  .btn-facebook {
    color: #fff;
    background-color: #3b5998;
    border-color: #3b5998;
  }
  
  .btn-instagram {
    color: #fff;
    background-color: #e4405f;
    border-color: #e4405f;
  }
  